body{
    background-color: gray;
    padding: 0;
}
header {
    margin: auto auto;
    display: flex;
    align-items: center;
    width:300px;
    height: 120px;
    
              
    
}  

h1{
 margin-top: 55px;
 margin-left: 35px;
 font-family: "Pacifico", cursive;
 font-weight: 400;
font-style: normal;
   
}

img{
    margin-top: 25px;
    margin-left: 35px;    
    height:100px;
    width: 100px;
   
}

section {
    display: flex;
    padding: 0 15px;
    
   
}


.conteiner {
   
    position: relative;
    background-color: rgb(31, 129, 129);
    border-radius: 15px;
    height: 250px;
    width: 200px;
    text-align: center;
    
    margin: 5px auto;
    padding: 25px 50px;
    
    
    
   
   
    
    
}
.conteiner-btn{
    display: flex;

}
.conteiner-add{
    
    
    padding: 0 15px;
    margin: auto auto;

}
.add{
   width: 100px;
   margin-top: 5px;
   border: none;
   border-radius: 5px;
   text-align: center;
   font-family: "Pacifico", cursive;
   background-color: rgb(31, 129, 129);
}
.add:focus{
    background-color: aquamarine;
    outline: none;

}
.add-btn {
   border:none;
   border-radius:5px;
   font-family: "Pacifico", cursive;
   height: 25px;
   width: 70px;
   text-align: center;
   background-color: rgb(31, 129, 129);
   

    
}

.add-btn:hover{
    background-color: aquamarine;
    cursor: pointer;
    -webkit-box-shadow: 8px 8px 24px 0px aquamarine;
    -moz-box-shadow: 8px 8px 24px 0px aquamarine;
    box-shadow: 8px 8px 24px 0px aquamarine;
}
.sum-tab{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(151, 225, 55);
    position: absolute;
    bottom: 15px; /* odstęp od dołu */
    left: 0;
    width: 100%;
    text-align: center;
    margin:0;
    border-top: 2px solid rgb(151, 225, 55);
    
}
.data{
    color: whitesmoke;
    font-family: "Pacifico", cursive;    
    margin:0;
   
    
    
}

.cat-tabs-inner {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.add-cat-btn {
 
    background: rgb(31, 129, 129);
    color: whitesmoke;
    font-weight: bold;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    
}

.cat-btn {
    font-family: "Pacifico", cursive;   
    background: rgb(31, 129, 129);
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;

}
.add-cat-btn:hover, .cat-btn:hover{
    background-color: aquamarine;
    color:black
}

.active-cat-btn {
    background: gold;
    color: black; 
    font-weight: bold;
    border: none;
    
    
}
#modalOverlay{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: brown; */
    
}
#modalOverlay.open {
    display:flex;
}
.modal{
    background-color: bisque;
    padding: 20px;
    border-radius:12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25); 
    transform: scale(0.95);        
    transition: transform 0.2s;
}
#cat-name-input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 6px;
    margin-top:10px;
}
/* przyciski w modal */
.modal-actions{
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.modal-actions button {
    padding: 6px 14px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
#modal-ok{
    background-color: #0066ff;
    color: white;

}
#modal-cancel{
    background-color: #ccc;
}

.error {
  color: red;
  font-size: 14px;
  min-height: 18px;   /* żeby miejsce było zawsze */
}