body{
    background-color: gray;
}
header {
    text-align: center;

}
.cat-name{
    display: flex;
    padding: 0 15px;
    
}
.cat{
    text-align: center;
    color:whitesmoke;
    background-color:rgb(31, 129, 129);
    width: 200px;
    padding: 5px 50px;
    margin: auto auto;
    border-radius: 15px;
    
    
}
section {
    display: flex;
    padding: 0 15px;
    
   
}
.conteiner {
    position: relative;
    background-color: rgb(31, 129, 129);
    border-radius: 15px;
    height: 300px;
    width: 200px;
    text-align: center;
    margin: 5px auto;
    padding: 25px 50px;
    
    
   
   
    
    
}
.conteiner-btn{
    display: flex;

}
.conteiner-add{
    
    
    padding: 0 15px;
    margin: auto auto;

}
.add{
   width: 100px;
   margin-top: 5px;
   border: none;
   border-radius: 5px;
   text-align: center;
}
.add:focus{
    background-color: aquamarine;
    outline: none;

}
.add-btn {
   border:none;
   border-radius:5px;

    
}

.add-btn:hover{
    background-color: aquamarine;
    cursor: pointer;
    -webkit-box-shadow: 8px 8px 24px 0px aquamarine;
    -moz-box-shadow: 8px 8px 24px 0px aquamarine;
    box-shadow: 8px 8px 24px 0px aquamarine;
}
.sum-tab{
    color: rgb(151, 225, 55);
    position: absolute;
    bottom: 15px; /* odstęp od dołu */
    left: 0;
    width: 100%;
    text-align: center;
    margin:0;
    
}
.data{
    color: whitesmoke;
    
}

.cat-tabs-inner {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.add-cat-btn {
 
    background: aquamarine;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
}

.cat-btn {
      background: aquamarine;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    width: 60px;
    height: 32px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;

}

.active-cat-btn {
    background: gold;
    color: black; 
    font-weight: bold;
    border: 2px solid orange;
}